@page
@model Asignment_PRN231_API_FE.Pages.OwnerSide.ManageEmployees.Manager.IndexModel
@{
    Layout = "_LayoutOwnerMangement";
    int index = 1;
    var toast = TempData["Toast"] != null
                ? JsonSerializer.Deserialize<Toast>(TempData["Toast"].ToString())
                : null;
}
@if (toast != null)
{
    <partial name="_Layout_Toast" model="toast" />
}
<div class="d-flex justify-content-between mt-4 mb-2">
    <a asp-page="/OwnerSide/DashBoard" class="btn btn-secondary btn-outline-primary-soft">
        Back to Dashboard
    </a>
    <h2 class="text-center mb-4">All Manager</h2>
    <a asp-page="./Add" class="btn btn-primary btn-outline-primary-soft">Add Manager</a>
</div>
<div class="container mt-4">
    <div class="card shadow-lg p-4">
      <table id="managerTable" class="table table-striped table-bordered">
    <thead class="table-primary">
        <tr>
            <th>Number</th>
            <th>Full Name</th>
            <th>Email</th>
            <th>Avatar</th>
            <th>Shop Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var manager in Model.Managers)
        {
            <tr>
                <td>@(index++)</td>
                <td>@manager.FirstName @manager.LastName</td>
                <td>@manager.Email</td>
                <td>
                    @if (!string.IsNullOrEmpty(manager.Avatar))
                    {
                        <img src="@manager.Avatar" alt="Avatar" width="50" height="50" class="rounded-circle" />
                    }
                    else
                    {
                        <span>No Avatar</span>
                    }
                </td>
                <td>@manager.NameInventory</td>
                        <td>
                            <a asp-page="./Edit" asp-route-id="@manager.Id" class="btn btn-warning text-dark">Edit</a>
                            <a asp-page="./Detail" asp-route-id="@manager.Id" class="btn btn-info text-white">Detail</a>
                        </td>
            </tr>
        }
    </tbody>
</table>
    </div>
</div>
@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/datatables/jquery.datatables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#managerTable').DataTable();
        });
    </script>
}